/*=============
=== IMPORTS ===
=============*/

@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,500,600,700,800,900')
@import 'vars'
@import 'components/*'

/*==============
=== SKELETON ===
==============*/

.container
	margin 0 auto
	@media (max-width: screen-xs-max)
		width 100%
		padding 0 20px
		box-sizing border-box
	@media (min-width: screen-sm-min) and (max-width: screen-sm-max)
		width 750px
	@media (min-width: screen-md-min)
		width 926px	
		
.row
	display flex
	
.flex
	flex 1
	
for i in (1..12)
	.col-{i}
		width i*8.33333333333%

for i in (1..12)
	.col-xs-{i}
		@media (max-width: screen-xs-max)
			width i*8.33333333333% !important
	.col-sm-{i}
		@media (max-width: screen-sm-max)
			width i*8.33333333333% !important
	.col-md-{i}
		@media (max-width: screen-md-min)
			width i*8.33333333333% !important
    	
/*=============
=== HELPERS ===
=============*/
	
.animated
	&--top
		top 0 !important
	&--bottom
		bottom 0 !important
	&--opacity
		opacity 1 !important

.hidden
	&-xs
		@media (max-width: screen-xs-max)
			display none !important	
	&-sm
		@media (max-width: screen-sm-max)
			display none !important	
	&-md
		@media (min-width: screen-md-min)
			display none !important
.visible
	display block
	opacity 1
	&-xs
		display none !important
		@media (max-width: screen-xs-max)
			display inline-block !important
	&-sm
		display none !important
		@media (max-width: screen-sm-max)
			display inline-block !important
	&-md
		display none !important
		@media (min-width: screen-md-min)
			display inline-block !important
	
/*=============
=== GLOBALS ===
==============*/

*
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

body
	font-family base-fontFamily-1
	font-size 21px
	font-weight 400
	color color-gray

section
	position relative

h1,
h2,
h3,
h4,
h5,
h6
	text-transform uppercase
	
h1
	font-size 42px
	font-weight 900
	color #fff
	margin-top 0

h2
	font-weight 500
	font-size 29px
	margin 35 0

p
	margin-bottom 0

ul,
li
	padding 0
	margin 0

li
	list-style none
	
a
	text-decoration none
	
input,
button
	border 0
	outline 0
	&:focus
		border 0
		outline 0
		
::-webkit-input-placeholder
	color base-color-1
:-moz-placeholder
	color base-color-1
::-moz-placeholder
	color base-color-1
:-ms-input-placeholder
	color base-color-1
	
::selection
	background base-color-1
	color #fff
	
/*============
=== STYLES ===
============*/

.mobile-menu
	cursor pointer
	height 35px
	padding 15px

.content
	padding 80px 0
	p
		line-height 34px

.report
	background #212121
	.icon--arrow-down
		position absolute
		left 50%
		top -26.5px
		margin-left -26.5px
		transition .3s
		&:hover
			top -20px
			transition .3s
	p
		color #fff
			
.faq
	padding-bottom 120px
	button
		position relative
		top 75px
		display block
		margin 0 auto

.about
	height 438px
	box-sizing border-box
	overflow hidden
	.banner__text
		margin-top 10px
		max-width 570px
	.flex
		position relative
		img
			position absolute
			right -400px
			top -573px
			
.footer
	background #000
	color #fff
	padding 20px 0
	h1
		font-size 18px
		font-weight 400
	p
		font-size 14px
		font-weight 600
	.extra-info
		@media (max-width: screen-xs-max)
			display block
			& > div
				margin-bottom 30px
	.address
		display flex
		i
			margin-right 5px
		address
			font-size 14px
			font-weight 600
			font-style normal
	.social
		display flex
		i
			border 1px solid #fff
			margin-left -1px
	.copyright
		display block
		margin-top 50px
		padding-bottom 10px
		p
			font-size 12px
			line-height 17px
			margin-top 16px
			font-weight 600