.banner
	&__text
		vertical-align middle
		display table-cell
		position relative
	&--base
		background url('../img/banner-city.jpg') center top no-repeat
		background-size cover
		h1
			font-size 29px
			margin-bottom 5px
		p
			margin-top 0
			color #fff
		button
			margin-top 30px
	&--newsletter
		text-align center
		overflow hidden
		background url('../img/banner-newsletter.jpg') center center fixed no-repeat
		background-size cover
		display table
		width 100%
		.banner__text
			bottom -100%
			opacity 0
			transition .8s
			h1
				margin-top 0
				@media (max-width: screen-xs-max)
					padding 0 20px
			p
				color #fff
				margin 17px 0 38px
				@media (max-width: screen-xs-max)
					padding 0 20px
			br
				@media (max-width: screen-xs-max)
					display none