.button
	background base-color-1
	color #fff
	font-weight 600
	text-transform uppercase
	font-size 20px
	min-width 225px
	cursor pointer
	transition .3s
	padding 20px 22px
	i
		position relative
		top -1px
		margin-right 10px
		transition .3s
	&:hover
		background darken(base-color-1, 10%)
		transition .3s
		i
			top -6px
			transition .3s
		