.icon
	&--mobile
		&-menu
			display inline-block
			position relative
			cursor pointer
			&,
			&:before,
			&:after
				background base-color-1	
				height 3px
				width 40px
			&:before,
			&:after
				position absolute
				content ''
				left 0
			&:before
				top -12px
			&:after
				bottom -12px
		&-close
			display inline-block
			position relative
			width 39px
			cursor pointer
			&:before,
			&:after
				background #fff
				height 3px
				width 40px
			&:before,
			&:after
				position absolute
				content ''
				left 0
			&:before
				top -3px
				transform rotate(45deg)
			&:after
				top -3px
				transform rotate(-45deg)
	&--arrow
		background-image url('../img/icon-arrow.png')
		display inline-block
		background-repeat no-repeat
		cursor pointer
		&-down
			@extend .icon--arrow
			background-position -43px 0
			width 53px
			height 53px
		&-up
			@extend .icon--arrow
			background-position 0 -22px
			width 25px
			height 12px
	&--social
		background-image url('../img/icon-social.png')
		cursor pointer
		display inline-block
		width 28px
		height 28px
		transition .3s
		&:hover
			transition .3s
			background-position-y 31px
		&-pin
			@extend .icon--social
			width 27px
			height 32px
			background-position 0 0
			cursor default
		&-facebook
			@extend .icon--social
			background-position -44px -1px
		&-twitter
			@extend .icon--social
			background-position -74px -1px
		&-in
			@extend .icon--social
			background-position -103px -1px
		&-plus
			@extend .icon--social
			background-position -133px -1px
		&-whatsapp
			@extend .icon--social
			background-position -162px -1px
		&-mail
			@extend .icon--social
			background-position -190px -1px