.nav
	&--mobile
		position fixed
		height 100vh
		width 100%
		background rgba(178,23,54,0.9)
		z-index 100
		top 0
		left 0
		display none
		opacity 0
		nav
			ul
				padding 20px
				height 100vh
				display flex
				flex-direction column
				li
					flex 1
					text-align center
					a
						color #fff
						font-weight 700
						text-transform uppercase
	&--bar
		top 0
		position fixed
		width 100%
		background #fff
		padding 32px 0 23px
		z-index 10
		@media (max-width: screen-sm-max)
			padding 0
		nav
			.logo
				padding 2px
				@media (max-width: screen-sm-max)
					padding 20px 0 20px 10px
			ul
				flex 1
				text-align right
				vertical-align middle
				padding 25px 0
				li
					margin-right 23px
					display inline-block
					&:last-child
						margin-right 0
					a
						font-size 15px
						color #000
						text-transform uppercase
						transition 0.3s
						&:hover
							color base-color-1
							transition 0.3s