.newsletter
	width 690px
	margin 0 auto
	@media (max-width: screen-xs-max)
		width 100%
		padding 20px
		box-sizing border-box
	form
		display flex
		input
			&[type="text"]
				background #fff
				flex 1
				font-weight 300
				color base-color-1
				font-style italic
				padding 22px 28px
		.button
			@media (max-width: screen-xs-max)
				min-width 135px